HOME_15M_URL=https://polymarket.com/crypto/15M
CARD_TEXT=Bitcoin Up or Down - 15 minute
SIDE=DOWN
LIMIT_PRICE_CENTS=45
SHARES=2.5
DIFF_THRESHOLD_USD=100
PAUSE_MINUTES=60
TIMEZONE=Europe/Istanbul
HEADLESS=false
DRY_RUN=true
AUTO_CLOSE_BROWSER=false
USER_DATA_DIR=./storage/user_data_dir
SLOW_MO_MS=0
EVENTS_NDJSON_PATH=./polymarket_realtime_output/events.ndjson
TRACKER_SCRIPT_PATH=./track_polymarket_activity.py
